<h1>New multiplication</h1>


<form action="/wizard_multiply">
  <label for="prod1">
    Multiply this:
  </label>
  <input id="prod1" name="prod1" text="text">

 <label for="prod2">
    by this:
  </label>
  <input id="prod2" name="prod2" text="text">

  <button>
    Multiply!
  </button>
</form>
